h1, h2, h4 {
    text-align: center;
    color: #ff0000; 
}

.tituloProyecto {
    font-size: 3rem;
    color: #000000; 
}

.centrarJust {
    display: flex;
    justify-content: center;
}

.tituloPrincipal {
    display: flex;
    justify-content: flex-start;
    font-size: 10rem;
    color: #ff0000;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.margenTopInicial {
    margin-top: 4rem;
}

.creacion {
    margin-left: 5rem;
    margin-right: 5rem;
    border-top: 2px solid #ffffff; 
    margin-top: 20px;
}

a {
    color: #ff0000; 
}

.linkRepositorio {
    margin-bottom: 5rem;
    color: #ff0000; 
}

.rowHome {
    display: flex;
}

.espacioCreacion {
    margin: 3rem;
}

.imagen {
    margin-left: 10rem;
    min-width: 25rem;
    max-width: 30rem;
    max-height: 30rem;
    transition: border-radius 0.275s cubic-bezier(.47, 0, .745, .715);
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    transition-delay: 0s;
    transition-property: border-radius;
    border-radius: 5px; 
}

.separacion {
    margin-left: 20rem;
    border-left: 2px solid #ffffff; 
    display: flex;
    align-self: center;
    justify-self: center;
}

.estiloBoton {
    background-color: transparent;
    color: #ff0000; 
    border-color: #ff0000; 
    border-radius: 5rem;
    padding: 0.5rem;
    margin-top: 2rem;
    border: 2px solid #ff0000; 
    transition: background-color 0.3s, color 0.3s;
}

.estiloBoton:hover {
    background-color: #000; 
    color: #fff;
}

p {
    color: #ff0000; 
}

.margengrande {
    margin-top: 8rem;
    color: #ff0000; 
}

.blando {
    margin-top: 10rem;
    color: #ff0000;
}

.bottom {
    margin-bottom: 10rem;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginacion button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #000; 
    color: #fff;
    border: none;
    cursor: pointer;
}

.paginacion button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
