.margenTopInicial {
    margin-top: 1rem;
  }
  
  .tituloPrincipal {
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
    color: #ff0000;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  